@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Cookie');

*{
    margin: 0 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
#container{
    position: relative;
}

.contact{
    background-color: #F0FFF0;
    margin: 0;
    padding: 10px;
    width: auto;
}

span{
    padding: 5px;
}

fa{
    padding: 5px;
}

.photo{
    height: 680px;
    overflow: hidden;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

h1{
    font-family: 'Cookie', cursive;
    width: 100%;
    font-weight: bold;
    font-size: 180px;
    position: absolute;
    top: 60%;
    left: 50%;
    right:50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e6ffec;
    font-style: italic;
}

nav {
    position: absolute;
    bottom: 0%;
    align-content: center;
    top: 8%;
    width: auto;
    left: 30%;
    z-index: 3;
}

button{
    font-family: 'Cookie', cursive;
    float: left;
    align-content: center;
    font-size: 40px;
    width: 100px;
    margin-left: 70px;
    background: none;
    border: none;
    font-weight: bold;
    color: white;
    padding: 5px;
    cursor: pointer;  
}

#overlay{
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.818); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */ 
    -webkit-animation-name: fade;
	-webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: .5s;
}

#back{
    display: none;
    right: 10px;
    top: 3px;
    position: absolute;
    width: auto;
    cursor: pointer;
    z-index: 3;
    color: #fff;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

#text{
    position: absolute;
    top: 150px; 
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    -webkit-animation-name: fade;
	-webkit-animation-duration: .5s;
    animation-name: fade;
    animation-duration: .5s;
    z-index: 2;
    text-align: justify;
    font-size: 20px;
    margin: 0 40px;
    width: auto;
    display:none;
    text-shadow: 2px 2px 8px #000;
}
p{
    margin: 20px;
}

footer{
    text-align: center;
    margin-top: 5px;
    background-color: #F0FFF0;
}

@media screen and (max-width: 1280px){
    h1{
        font-size: 140px;
        top:60%;
        margin: 0 auto;
        right: 50%;
        left: 50%;
    }

    #text{
        top: 180px; 
    }

    nav{
        left:25%;
    }
    
    .photo{
        height: 540px;
    }
}

@media screen and (max-width: 1024px){
    h1{
        font-size: 110px;
        top:60%;
        margin: 0 auto;
        right: 50%;
        left: 50%;
    }

    #text{
        top: 180px; 
    }

    nav{
        left:17%;
    }
    
    .photo{
        height: 450px;
    }
    
}

@media screen and (max-width: 800px){
    h1{
        font-size: 100px;
        top:60%;
        margin: 0 auto;
        right: 50%;
        left: 50%;
    }

    #text{
        top: 180px; 
    }

    nav{
        left:12%;
    }
    
    .photo{
        height: 400px;
    }
}

@media screen and (max-width: 768px){
    h1{
        font-size: 80px;
        top: 80%;
        text-shadow: 2px 2px 100px gray;
    }
    .photo{
        background: #F0FFF0;
        margin-top: 200px;
        height: 350px;
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
    nav{
        width: 100%;
        left: 0;
    }
    button{
        clear:both;
        background: #e6ffec;
        border: 2px solid white;
        width: 100%;
        margin-left: 0;
        color: black;
    }
    #text{
        margin-top: 90px;
    }
}

@media screen and (max-width: 640px){
    h1{
        font-size:70px;
        top: 80%;
        text-shadow: 2px 2px 100px gray;
    }
    .photo{
        background: #F0FFF0;
        margin-top: 200px;
        height: 280px;
    }

    #text{
        margin-top: 80px;
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 50px;
        top: 90%;
        color: black;
        text-shadow: 2px 2px 100px #e6ffec;
    }
    .photo{
        background: #F0FFF0;
        margin-top: 200px;
        height: 310px;
    }

    #text{
        margin-top: 80px;
    }

}